/* Add some margin and padding to the body */
body {
margin: 20px;
padding: 20px;
}

/* Add some style to the form elements */
form {
display: flex;
flex-direction: column;
align-items: center;
}

input[type=text] {
width: 300px; /* Increase width so that the text fields are not too small */
padding: 5px; /* Add some padding */
margin: 10px; /* Add some margin */
border: 1px solid #ccc; /* Add a border */
border-radius: 5px; /* Add border radius */
}

input[type=button] {
width: 100px; /* Set fixed width for the buttons */
padding: 5px; /* Add some padding */
margin: 10px; /* Add some margin */
border: none; /* Remove the border */
border-radius: 5px; /* Make the border rounded */
/* Set a dark gray background color for the buttons */
background-color: #a7a7a7;
color: black; /* Set a white text color for the buttons */
font-weight: bold; /* Make the text bold */
cursor: pointer; /* Change the cursor to pointer when hovering */
}

input[type=button]:hover {
background-color: #6ba2db; /* Add a darker blue background color when hovering */
}

p {
/* margin: 10px; /* Add some margin */
text-align: center; /* Center align the text */
}

#mainp {
    text-align: left;
}

/* make divs have padding */
div {
padding: 5px;
margin: 5px;
/* Add lateral bar to div */
border-left: 1px solid #6ba2db;
border-right: 1px solid #6ba2db;
border-top: 1px solid #6ba2db;
border-bottom: 1px solid #6ba2db;
border-radius: 5px;
}